<h1>Twitter Recently followed List</h1>
<p>これは、Twitterで最近フォローした人のリストを作るサービスです。</p>
<%= link_to 'はじめる', "/auth/twitter" %>
</br>
</br>
</br>
<h3>使い方</h3>
<ol>
  <li>最初の画面</li>
  <ol>
    <li>「はじめる」をクリックします。</li>
    <li>Twitterの認証が始まります。</li>
  </ol>
  <li>２番目の画面</li>
  <ol>
    <li>あなたが最近フォローしたアカウントが20人ほど出てきます。</li>
    <li>リストに入れたい人をチェックします。（最初からチェック済み）</li>
    <li>リストに入れたい人をチェックし終わったら「リストを作成する」ボタンを押します。</li>
  </ol>
  <li>３番目の画面</li>
  <ol>
    <li>「TwitRL_YYYYMMDD」というリストが完成します。</li>
    <li>名前とかを変えるのはTwitterの方で行なってください。</li>
  </ol>
</ol>

<h3>ご意見・ご感想は</h3>
<ul>
  <li>Twitter: <a href="http://www.twitter.com/ryonext" target="_blank">@ryonext</a></li>
  <li>ブログ： <a href="http://ryonext.blog85.fc2.com/" target="_blank">月曜日までに考えておきます</a></li>
</ul>
